/* ChatModal.css */ 
/* // src/components/ChatModal.css */
.chat-modal {
    position: fixed;
    bottom: 0;
    width: 95%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 999;
    pointer-events: auto;
    margin: 0;
    transition: height 0.3s ease;
}

.chat-modal.minimized {
    height: auto;
    min-height: unset;
}

@media (max-width: 768px) {
    .chat-modal {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .chat-modal {
        height: 180px;
    }
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #48c0c9;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    
}

.chat-header h3 {
    color: #ffffff;
    
}

.header-buttons {
    display: flex;
    gap: 5px;
}

.minimize-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0 5px;
    color: #ffffff;
}

.minimize-button:hover {
    color: #000000;
}

.chat-header h3 {
    margin: 0;
    font-size: 1.5vh;
}

.chat-history {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: auto;
}

.chat-message {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 15px;
    margin: 2px 0;
}

.chat-message.sent {
    align-self: flex-end;
    background-color: rgba(29, 154, 188, 0.9);
    color: white;
}

.chat-message.received {
    align-self: flex-start;
    background-color: rgba(240, 240, 240, 0.8);
    color: black;
}

.message-content {
    margin-bottom: 4px;
    word-break: break-word;
}

.message-timestamp {
    font-size: 10px;
    opacity: 0.7;
    text-align: right;
}

.chat-input-form {
    padding: 15px;
    display: flex;    
    border-radius: 0 0 10px 10px;
    gap: 10px;
    border-top: 1px solid rgba(238, 238, 238, 0.5);
    background-color: rgba(255, 255, 255, 0.9);
    pointer-events: auto;
}

.chat-input-form input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid rgba(221, 221, 221, 0.8);
    border-radius: 20px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
}

.chat-input-form button {
    padding: 8px 20px;
    background-color: rgba(29, 154, 188, 0.9);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 70%;
}

.chat-input-form button:hover {
    background-color: rgba(22, 122, 150, 0.9);
}

.message-sender {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 2px;
} 