.loading{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
  }
  
  .loadingfont{
  
    font-size: 25px;
  }
  
  .loading svg {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 100, 0.2);
  }